#answer1{
    color:green;
}
#answer2{
    color:green;
}
#answer3{
    color:green;
}
#answer4{
    color:green;
}

#answer1a{
    color:red;
}
#answer2a{
    color:red;
}
#answer3a{
    color:red;
}
#answer4a{
    color:red;
}